@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background: #202639;
}

.button form {
    text-align: center;
    margin: 20px;
}

table {
    margin: 50px auto;
    width: 500px;
}

.cityHeader {
    font-size: 3.5rem;
}

.Temp {
    font-size: 1.8rem;
}

.leftSideTable {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    font-size: 1.5rem;
    padding-right: 20px;
    width: 150px;
    color: #85546e;
}

.rightSideTable {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 1.5rem;
    padding-left: 7px;
    width: 100px;
    color: whitesmoke;
}

.leftSideTableImg img {
    display:block;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    padding-right: 20px;
}

.tableCityHeader {
    text-align: center;
    width: 150px;
    color: #85546e;
}

input[type="submit"]{
    font-size: 1.2rem;
    color: #85546e;
    padding: 15px 20px;
    border: none;
    text-transform: uppercase;
    background: #2e3447;
    border-radius: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

input[type="submit"]:hover{
    background: #49526f;
    transition: 0.3s;
    letter-spacing: 5px;
    cursor: pointer;
}

#btn:focus {
    outline: none;
}

.moreInfoLink {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px;
    border-radius: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 15px 20px;
    text-decoration: none;
    background: #2e3447;
    color: #85546e;
}

.moreInfoLink:hover {
    background: #49526f;
    transition: 0.3s;
    letter-spacing: 3px;
}

.infolink {
    margin: 40px;
    text-align: center;
    text-decoration: none;
}