<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body align="center">

<h1>Hello City</h1>

<h1 th:text="${weatherModel.cityName}"></h1>

<table border="1" align="center">
    <thead>
    <tr>
        <td>Latitude</td>
        <td>Londitude</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${weatherModel.getCoordinate().getLat() != null} ? ${weatherModel.getCoordinate().getLat()} : 'null value'"></td>
        <td th:text="${weatherModel.getCoordinate().getLon() != null} ? ${weatherModel.getCoordinate().getLon()} : 'null value'"></td>
    </tr>
    </tbody>
</table>

<br>

<table border="1" align="center" >
    <thead>
    <tr>
        <td>Main Weather</td>
        <td>Description</td>
        <td>Icon</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="weather : ${weatherModel.weather}">
        <td th:text="${weather.getMain() != null} ? ${weather.getMain()} : 'null value'"></td>
        <td th:text="${weather.getDescription() != null} ? ${weather.getDescription()} : 'null value'"></td>
        <td><img th:src="${weather.getIcon() != null} ? ${weather.getIcon()} : 'null value'"></td>
    </tr>
    </tbody>
</table>

<br>

<table border="1" align="center">
    <thead>
    <tr>
        <td>Accual Temp</td>
        <td>Pressure</td>
        <td>Humidity</td>
        <td>Temp Min.</td>
        <td>Temp Max.</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${weatherModel.getTemperature().getTemp() != null} ? ${weatherModel.getTemperature().getTemp()} : 'null value'"></td>
        <td th:text="${weatherModel.getTemperature().getPressure() != null} ? ${weatherModel.getTemperature().getPressure()} : 'null value'"></td>
        <td th:text="${weatherModel.getTemperature().getHumidity() != null} ? ${weatherModel.getTemperature().getHumidity()} : 'null value'"></td>
        <td th:text="${weatherModel.getTemperature().getTempMin() != null} ? ${weatherModel.getTemperature().getTempMin()} : 'null value'"></td>
        <td th:text="${weatherModel.getTemperature().getTempMax() != null} ? ${weatherModel.getTemperature().getTempMax()} : 'null value'"></td>
    </tr>
    </tbody>
</table>

<br>

<table border="1" align="center">
    <thead>
    <tr>
        <td>Wind Speed</td>
        <td>Wind Degreese</td>
    </tr>
    </thead>
    <tbody>
    <tr>
     <td th:text="${weatherModel.getWind().getSpeed() != null} ? ${weatherModel.getWind().getSpeed()} : 'null value!'"></td>
     <td th:text="${weatherModel.getWind().getDeg() != null} ? ${weatherModel.getWind().getDeg()} : 'null value!'"></td>
    </tr>
    </tbody>
</table>

<br>

<table border="1" align="center">
    <thead>
    <tr>
        <td>Clouds</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${weatherModel.getClouds().getAll() != null} ? ${weatherModel.getClouds().getAll()} : 'null value!'"></td>
    </tr>
    </tbody>
</table>

<br>

<table border="1" align="center">
    <thead>
    <tr>
        <td>Last Update</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${weatherModel.getLastUpdateTimeStamp() != null} ? ${weatherModel.getLastUpdateTimeStamp()} : 'null value!'"></td>
    </tr>
    </tbody>
</table>

<br>

<table border="1" align="center">
    <thead>
    <tr>
        <td>Country</td>
        <td>Sunrise</td>
        <td>Sunset</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${weatherModel.getSys().getCountry() != null} ? ${weatherModel.getSys().getCountry()} : 'null value!'"></td>
        <td th:text="${weatherModel.getSys().getSunrise() != null} ? ${weatherModel.getSys().getSunrise()} : 'null value!'"></td>
        <td th:text="${weatherModel.getSys().getSunset() != null} ? ${weatherModel.getSys().getSunset()} : 'null value!'"></td>
    </tr>
    </tbody>
</table>

<br>

<table border="1" align="center">
    <thead>
    <tr>
        <td>Timezone</td>
        <td>City Id</td>
        <td>Name</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${weatherModel.getTimezone() != null} ? ${weatherModel.getTimezone()} : 'null value!'"></td>
        <td th:text="${weatherModel.getCityId() != null} ? ${weatherModel.getCityId()} : 'null value!'"></td>
        <td th:text="${weatherModel.getCityName() != null} ? ${weatherModel.getCityName()} : 'null value!'"></td>
    </tr>
    </tbody>
</table>

<br>

<form method="post" action="/index">         <!-- button Back -->
    <input type="submit" value="BACK">
</form>

</body>
</html>