<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Weather App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="css/index.css" th:href="@{/css/index.css}" rel='stylesheet' />
</head>
<body th:style="'background: url(images/weatherBackground.jpg)'">



<div class="container">

    <div class="search-box">
        <p class="alpha">alpha version 1.2</p>
        <p class="WeatherHeader">Weather App</p>
        <p class="descript">city, latitude and longitude, zip-code</p>
        <form class="formAction" action="#" th:action="@{/data}" method="post">
            <input type="text" th:value="*{dataWeb}" name="dataWeb" required placeholder="city..." >
            <input id="btn" type="submit" value="Search">
        </form>
    </div>
</div>

</body>
</html>