<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Wrong Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="css/wrongPage.css" th:href="@{/css/wrongPage.css}" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <div class="ghostbox">
        <img class="ghostimg" src="images/ghost.png" alt="ghost image">
    </div>

    <div class="text-box">
        <p id="number">404</p>
        <p id="number-text">Something gone wrong. Sorry.</p>
    </div>
    <div class="back-buton">
        <form method="post" action="/index">
            <input id="btn" type="submit" value="BACK">
        </form>
    </div>
</div>
</body>
</html>